{% extends 'main/base.html'%}

{% block title %}My Profile{% endblock %}

{% block content %}
    <div class="container-fluid text-center">
        {% if user.is_authenticated %}
        <img id="profile_pic" src="{{ user.profile.profile_picture.url }}" class="rounded-circle mt-5 mb-3">
        
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <h4>user: {{ user }}</h4>
        <p>Description: {{ user.profile.description }}</p>

        <form>
            <button type="button" onClick="location.href='{% url 'logout_user' %}'" class="btn btn-danger">Logout</button>
        </form>
        {% else %}
            <h1>Login <a href="/login">here</a></h1>
        {% endif %}
        
    </div>
{% endblock %}